<%= form_with(model: student) do |form| %>
  <% if student.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
        <% student.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :admission_number, style: "display: block" %>
    <%= form.text_field :admission_number %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :mobile_number, style: "display: block" %>
    <%= form.text_field :mobile_number %>
  </div>

  <div>
    <%= f.select :class_section_id, ClassSection.all.map { |c| [c.name, c.id] }, { prompt: "Select Class" } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
